#contact_me {
    width: 100%;
    height: 600px;
    background: var(--child-bg-color);
    border-radius: 5px;
    display: flex;
    flex-flow: row nowrap;
}

.pan_left {
    flex: 1 0 50%;
    height: 100%;
    box-sizing: border-box;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

.pan_right {
    flex: 1 0 50%;
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    padding-left: 30px;
    box-sizing: border-box;
}


.gform {
    display: flex;
    align-items: center; 
    flex-flow: column;

}

.gform > fieldset {
    border: none;
    width: 65%;
}

/* fieldset {
    width: 65%;
} */

input, textarea {
    width: 100%;
    height: 40px;
    border-radius: 5px;
    border: none;
    color: black;
    padding: 10px;
}

textarea#message {
    height: 150px;
    overflow-wrap: break-word;
}


#send_button {
    border-radius: 5%;
    border: 5px solid transparent;
    background: white;
    text-align: center;
    margin-top: 10px;
    font-weight: bold;
    font-size: 1.5em;
    color: black;
}

#send_button:disabled {
  --color-1: #fff;
  --color-2: rgba(0, 0, 0, 0.25);
  --size: 1px;

  width: calc(96 * var(--size));
  height: calc(16 * var(--size));
  display: inline-block;
  background-color: var(--color-1);
  border: calc(1 * var(--size)) solid var(--color-1);
  border-radius: calc(4 * var(--size));
  background-image: linear-gradient(
    45deg,
    var(--color-2) 25%,
    transparent 25%,
    transparent 50%,
    var(--color-2) 50%,
    var(--color-2) 75%,
    transparent 75%,
    transparent
  );
  font-size: calc(30 * var(--size));
  background-size: 1em 1em;
  box-sizing: border-box;
  animation: barStripe 1s linear infinite;
}

@keyframes barStripe {
  0% {
    background-position: 1em 0;
  }
  100% {
    background-position: 0 0;
  }
}


@media (max-width: 850px) {

    #contact_me {
        width: 100%;
        height: 1100px;
        background: var(--child-bg-color);
        display: flex;
        flex-flow: column nowrap;
    }

    .pan_left {
        width: 100%;
        flex: 1 0 40%;
        box-sizing: border-box;
    }

    .pan_right {
        width: 90%;
        flex: 1 0 60%;
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        padding-left: 30px;
        box-sizing: border-box;
    }
}


