#banner {
    height: 40vh;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 4em;
}

#banner h1::before {
    content: "";
}

#banner h1::after {
    content: "|";
    animation: cursor-blink 1s steps(2) infinite;
}

@keyframes cursor-blink {
  0% {
    opacity: 0;
  }
}

