#banner {
    height: 40vh;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 4em;
}

#banner h1::after {
    content: "|";
    animation: cursor-blink 1s steps(2) infinite;
}

@media (max-width: 540px) {
    #banner {
        height: 40vh;
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 3em;
    }
}

@keyframes cursor-blink {
  0% {
    opacity: 0;
  }
}

