#intro {
    height: fit-content;
    min-height: 50vh;
    border: 50px solid transparent;
    background: var(--child-bg-color);
    border-radius: 5px;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    gap: 20px;
}

#intro > #textbox {
    flex-grow: 1;
    text-align: center;
    display: flex;
    flex-flow: column nowrap;
    gap: 20px;
}

#profile_pic {

    max-height: 40vh;
    object-fit: contain;
    border-radius: 10px;
}

#textbox > #texttitle {
    font-size: 3em;
}

#textbox > #textcontent {
    font-size: 1.5em;
}



@media (max-width: 750px) {
    #intro {
        flex-flow: column nowrap;
        height: fit-content;
        gap: 25px;
        border: 25px solid transparent;
    }

    #intro > #textbox {
        text-align: center;
        display: flex;
        flex-flow: column nowrap;
        gap: 20px;
    }

    #profile_pic {
        height: 240px;
        object-fit: contain;
        border-radius: 10px;
    }

    #textbox > #texttitle {
        font-size: 1.5em
    }

    #textbox > #textcontent {
        font-size: 1em
    }
}