#intro {
    height: 50vh;
    border: 50px solid transparent;
    background: var(--child-bg-color);
    border-radius: 5px;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}

#intro > #textbox {
    flex-grow: 1;
    padding-left: 30px;
    text-align: center;
    display: flex;
    flex-flow: column nowrap;
    gap: 20px;
}

#profile_pic {
    width: 20%;
    height: 100%;
    objectFit: cover;
    borderRadius: 10px;
}

#textbox > #texttitle {
    font-size: 3em;
}

#textbox > #textcontent {
    font-size: 1.5em;
}



@media (max-width: 540px) {
    #intro {
        flex-flow: column nowrap;
        height: fit-content;
        border: 15px solid transparent;
    }

    #intro > #textbox {
        padding-left: 0px;
        text-align: center;
        display: flex;
        flex-flow: column nowrap;
        gap: 20px;
    }

    #profile_pic {
        width: 80%;
        height: 240px;
    }

    #textbox > #texttitle {
        font-size: 1.5em
    }

    #textbox > #textcontent {
        font-size: 1em
    }
}