#project_wrapper {
    min-height: 400px;
    height: wrap-content;
    width: 100%;

    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    margin-right: auto;
    margin-left: auto;

}


@media (max-width: 950px){
    #project_wrapper {
        min-height: 800px;
        width: 100%;

        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        align-items: center;
        margin-right: auto;
        margin-left: auto;

    }
}

@media (max-width: 675px){
    #project_wrapper {
        min-height: 1200px;
        width: 100%;

        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        align-items: center;
        margin-right: auto;
        margin-left: auto;

    }
}