.project_card {
    width: 250px;
    height: 200px;
    margin: 30px;
    border-radius: 10%;
    background: var(--child-bg-color);
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    padding: 10px;
    padding-top: 20px;
}

.project_card > * {
    margin-bottom: 10px;
}

.project_card > .title {
    font-weight: bold;
    text-align: center;
}

.project_card > .desc {
    font-size: 0.8em;
}

.project_card > .github_link {
    height: 20%;
}

.github_image {
    height: 100%;
}

.github_image:hover {
    filter: invert(50%);
}