.react-flow__edge-path, .react-flow__connection-path {
    stroke: black;
    stroke-width: 1;
    fill: none;
}

@media (prefers-color-scheme: dark) {
    .react-flow__edge-path, .react-flow__connection-path {
        stroke: white;
        stroke-width: 1;
        fill: none;
    }
}

.react-flow__node.jobitem {
  border-radius: 10%;
  width: 200px;
  height: 150px;
  background: var(--child-bg-color);
}


.react-flow__node.circle.selected {
  box-shadow: 0px 0px 2px 20px #F7D63B;
}

.react-flow__node.circle_stub {
  border-radius: 50%;
  width: 6px;
  height: 6px;
  border: 2px solid black;
  font-weight: 700;
  font-size: 8px;
}

.react-flow__node.hidden_node {
  border-radius: 50%;
  width: 1px;
  height: 1px;
  font-weight: 700;
  font-size: 8px;
  visibility: hidden;
}

.nodeLabelTop{
  position: relative;
  top: 25px;
  left: 10%;
  width: 80%;
  text-align: center;
  font-weight: bold;
}

.circleStubLabel{
  font-size: 15px;
  position: relative;
  right: 20px;
  top: 10px;
}

.react-flow__node.circle_stub > .nodeLabelTop{
  position: relative;
  top: 100px;
  text-align: center;
  font-weight: bold;
  font-size: 60px;
}


.react-flow__minimap{
    height: 120;
}

#return_button:hover{
    background: white;
    color: blue;
    cursor: pointer;
}

#textBox > * {
    margin: 3%;
}

.projDesc {

}
